.high {
	min-height: 800px;
}
#beca_search_input {
	padding: 16px 23px;
	border-radius: 26px;
	border-width: 0px;
	font-size: 16px;
    line-height: 20px;
    width: 100%;
    max-width: 600px;
    outline: none;
    padding-left: 52px;
}
#beca_results_counter {
	display: flex;
	justify-content: center;
}
#beca_number_of_results {
	margin: 10px;
}
#beca_searchfield_container {
	flex: 600px;
	position:  relative;
	max-width: 600px;
}
#beca_search_wrapper {
	display:  flex;
	justify-content: center;
}
#beca_results_container {
	position: absolute;
	display: none;
	border: 0px;
	border-radius: 26px;
	margin-top: -20px;
	width: 100%;
	max-height: 600px;
	background-color: white;
	transition: all 0.5s ease-in-out;
}
#beca_results_list {
	padding-left: 0;
	list-style-type: none;
	max-height: 500px;
	overflow: auto;
	border-radius: 26px;
}
.beca_main_image {
	grid-row: 1/5;
}
.beca_main_image img {
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.beca_grid_container {
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows: auto 60px auto auto;
	column-gap: 15px;
	row-gap: 5px;
	padding: 10px;
	background-color: white;

}
.beca_grid_container:hover, .active {
	background-color: whitesmoke;
}
.beca_results_about {
	overflow: hidden;
	line-height: 1.2em;
	max-height: 3.6em; 
	text-align: justify;  
}
.red {
	background-color: red;
}
.beca_loader_wrapper {
	display: flex;
	justify-content: center;
}
.beca_loader {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 60px;
  }
.beca_loader div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: rgb(255, 0, 0);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .beca_loader div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
  }
  .beca_loader div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .beca_loader div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .beca_loader div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
  }
  @keyframes lds-ellipsis3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
  }
  @keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
  }
  